USE [CRE_Trial_ELT_Repository]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 9/1/2026 11:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] NOT NULL,
	[ClientName] [nvarchar](150) NULL,
	[ActiveFlag] [varchar](1) NULL,
 CONSTRAINT [PK_Client_new] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RMS_HistoricalRDS]    Script Date: 9/1/2026 11:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMS_HistoricalRDS](
	[DataID] [int] NULL,
	[ClientID] [int] NULL,
	[Peril] [varchar](5) NULL,
	[ModelVersion] [varchar](10) NULL,
	[TreatyYear] [varchar](4) NULL,
	[TreatyIncept] [datetime] NULL,
	[DataInforce] [varchar](15) NULL,
	[EventID] [int] NULL,
	[Type] [varchar](5) NULL,
	[Event_Name] [varchar](max) NULL,
	[Loss] [float] NULL,
	[PCS] [varchar](5) NULL,
	[Perspective] [varchar](5) NULL,
	[AReLossSet] [nvarchar](36) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RMSELT]    Script Date: 9/1/2026 11:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMSELT](
	[DataID] [int] NULL,
	[EventID] [int] NULL,
	[Loss] [float] NULL,
	[StdDevI] [float] NULL,
	[StdDevC] [float] NULL,
	[ExpValue] [float] NULL
) ON [PRIMARY]
GO
